<script>
    text = document.querySelector('.text')
text.classList.add('fadeable')

const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('fade-in')
      }
    })
}, {
  threshold: .6
})

observer.observe(text)
</script>
<style>
    html {
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  margin: 0;
}

p {
  margin: 0;
  margin-bottom: 1.5rem;
}

h1 {
  margin-bottom: 0;
}

.img {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1568952433726-3896e3881c65?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  filter: blur(8px);
  -webkit-filter: blur(8px);

}

.img-and-text {
  position: relative;
  min-height: 100vh;
}

.img-and-text:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1527542146552-9e862c46e596?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  
}

.text {
  position: relative;
  z-index: 1;
  padding: clamp(1.5rem, 10vw, 8rem);
}

.heading {
  font-size: clamp(2.5rem, 8vw, 5rem);
  max-width: 800px;
  font-weight: 400;
  font-family: "Lora", serif;
  margin-bottom: 3rem;
}

.sub-heading {
  text-transform: uppercase;
  font-size: .8rem;
  text-indent: 1rem;
  display: flex;
  align-items: center;
}

.sub-heading:before {
  content: "";
  display: block;
  width: 1rem;
  height: 3px;
  background: black;
  float: left;
}

.button {
  text-decoration: none;
  background: black;
  color: white;
  padding: .6rem 1.2rem;
  background: radial-gradient(circle, rgb(200, 60, 60) 0%, rgb(164, 75, 92) 100%);
}

.fadeable {
  opacity: 0;
  transform: translateY(2rem);
}

.fade-in {
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

</style>
<head>
    <title> &nbsp;&nbsp Group 1 &nbsp B.E. Project</title>
    <link rel = "icon" href = "https://www.svgrepo.com/show/243630/auction-bid.svg" type = "image/svg">
</head>
<div class="img-and-text">
  <div class="text">
    <p class="sub-heading">AnotherTender</p>
    <h1 class="heading"> Decentralized T.M.S. for Road Development</h1>
    <a class="button" href="#" onclick="ligger();">Get Started</a>
    <script>
        function ligger(){
            window.location="/authenticate";
        }
    </script>
  </div>
</div>

